html {
  background-color: rgb(224 163 255);
  font-size: 1em;
}

h1{
  font-size: 3em;
  font-family: "DejaVu Sans Mono", monospace;
}

h2{
  font-size: 2em;
  font-family: fantasy;
}

body{
  text-align: center;
  background-color: rgb(122 124 245);
  margin: auto;
  margin-top: 3em;
  font-family: "Snell Roundhand", cursive;
  overflow: auto;
  display: inline;
  clear: left
  
}
