html {
  background-color: rgb(82 168 252);
  font-size: 25px;
}
body {
  text-align: center;
  width: 140%;
  background-color: rgb(155 250 120);
  padding: 3em;
  border-radius: 5em;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 5em;
}
.navigation,
.opentab {
  display: inline;
  margin-right: 20px;
}
.picturetext {
  text-align: left;
  margin-right: 2em
}
.sections {
  text-align: left;
  margin-bottom: 20px
}
.picturepicture {
  float: left;
}
h1 {
  text-align: center;
  font-family: "Apple Chancery", cursive;
  height: 150%;
  background-color: rgb(255 92 111 / 50%);
  display: inline;
}
ul,
il {
  margin: auto;
  height: 200%;
  font-family: "Apple Chancery", cursive;
  margin-left: 2em;
  background-color: rgb (255 92 111 / 50%);
  list-style: none;
  padding: 0;
  text-align: left;
}
h2 {
  height: 150%px;
  font-family: "Georgia", serif;
  background-color: rgb(9 176 101 / 40%);
  display: inline;
}
p {
  font-size: 35px;
}
a {
  color: rgb(0 25 255)
}
img {
  height: auto;
  width: 500px;
  margin-right: 30px;

}


