body {
  width: 140%px;
  background-color: rgb(83 168 252);
  padding: 30px;
}
h1 {
  text-align: center;
  font-family: "Apple Chancery", cursive;
  height: 150%px
  background-color: rgb(255 92 111 / 50%);
}
ul,
il {
  height: 200%px;
  font-family: "Apple Chancery", cursive;
  margin-left: 5em;
  background-color: rgb (255 92 111 / 50%);
}
h2 {
  
}
