html {
  background-color: rgb(82 168 252);
}
body {
  width: 140%px;
  background-color: rgb(155 250 120);
  padding: 5em;
  border-radius: 5em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 3em;
}
.navigation,
.opentab {
  display: inline;
  margin-right: 20px;
}
h1 {
  text-align: center;
  font-family: "Apple Chancery", cursive;
  height: 150%px
  background-color: rgb(255 92 111 / 50%);
}
ul,
il {
  margin: auto;
  height: 200%px;
  font-family: "Apple Chancery", cursive;
  margin-left: 2em;
  background-color: rgb (255 92 111 / 50%);
  list-style: none;
  padding: 0;
  /*text-align: center;*/
}
h2 {
  height: 150%px;
  font-family: "Georgia", serif;
  background-color: rgb(9 176 101 / 40%)
  display: block;
}
p {
  
}
a {
  color: rgb(0 25 255)
}
